<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wms.mapper.EvaluationMapper">

    <resultMap id="BaseResultMap" type="com.wms.entity.teaching_evaluation">
        <id column="teaching_evaluation_id" property="teachingEvaluationId" />
        <result column="course_name" property="courseName" />
        <result column="course_number" property="courseNumber" />
        <result column="coach_user" property="coachUser" />
        <result column="coach_name" property="coachName" />
        <result column="student_users" property="studentUsers" />
        <result column="name" property="name" />
        <result column="schedule_date" property="scheduleDate" />
        <result column="scheduling_period" property="schedulingPeriod" />
        <result column="content_of_courses" property="contentOfCourses" />
        <result column="review_video" property="reviewVideo" />
        <result column="evaluation_content" property="evaluationContent" />
        <result column="source_user_id" property="sourceUserId" />
    </resultMap>

    <sql id="Base_Column_List">
        teaching_evaluation_id, course_name, course_number, coach_user, coach_name,
        student_users, name, schedule_date, scheduling_period, content_of_courses,
        review_video, evaluation_content, source_user_id
    </sql>

    <select id="pageC" resultType="com.wms.entity.teaching_evaluation">
        select * from teaching_evaluation
    </select>

    <select id="pageCC" resultType="com.wms.entity.teaching_evaluation">
        select * from teaching_evaluation ${ew.customSqlSegment}
    </select>

</mapper>
